@import '../node_modules/mini.css/dist/mini-default.min.css';

.dot {
    height: 25px;
    width: 25px;
    background-color: orange;
    border-radius: 50%;
    display: inline-block;
  }

  h1 {
    display: inline-block
  }